include LICENSE
include README.rst
include setup.py
include tox.ini
include requirements.txt
recursive-include pods *
recursive-exclude pods *.pyc
recursive-exclude pods *.pyo
recursive-exclude docs *
recursive-exclude tests *
